<h1>Books</h1>

<p>Title</p>
<p>Body</p>

<% @books.each do |book| %>

  <span><%= book.title %></span>
  <span><%= book.body %></span>
  </br>
  <p><%= link_to "Show", show_book_path(@book.id) %></p>
  <p><%= link_to "Edit", edit_book_path(@book.id) %></p>
  <p><%= %></p>
<% end %>


